<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>Memetube</title>
</head>
<body>
  <header>
    <nav>
      <li><a href="/">Home</a></li>
      <li><a href="/videos">Videos</a></li>
      <li><a href="/videos/new">Add new video</a></li>
    </nav>
  </header>
  <%= yield %>
</body>
</html>