<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>Memetube</title>
</head>
<body>
  <header>
    <nav>
      <li class="nav-item"><a href="/">Home</a></li>
      <li class="nav-item"><a href="/videos">Videos</a></li>
      <li class="nav-item"><a href="/videos/new">Add new video</a></li>
    </nav>
  </header>
  <%= yield %>
</body>
</html>