<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>Memetube</title>
</head>
<body>
  <header>
    <nav>
      <li>Add new video</li>
    </nav>
  </header>
  <%= yield %>
</body>
</html>