<h1>Videos</h1>

<ul>
  <% @library.each do |video| %>
    <div>
      <iframe src="<%= video['url'] %>"></iframe>
      <a href="/videos/<%= video ['id'] %>"><%= video['title'] %></a>
    </div>
  <% end %>
</ul>